.hero{
    width: 100%;
    min-height: 100vh;
background:url(C:\Users\Dan\react app\src\assets\hero.jpg);
background-size:cover;
background-position:center ;
align-items: center;
justify-content: center;
color: #fff;
display:flex;
align-items:center;
justify-content:center;
}
hero-text{ 
    text-align:center;
    max-width:800px;

}
